footer{
height: 40vh;

    background-color: rgb(51,51,51);

    .footer{

        .footer-text{
            text-align: center;
            padding-top: 220px;
        
            color: rgb(115, 115, 115);
        }
    }
}